/* Main back panel CSS */
.backPanel{
    -fx-background-color: linear-gradient(to right, rgba(210,14,61,1),rgba(210,14,61,1),rgba(255,150,41,1),rgba(210,14,61,1));
}

.root{
    -fx-alignment: center;
}

/* Blurry back panel in main CSS */
.blurry{
    -fx-background-color: rgba(92, 113, 219,0.1);
    -fx-stroke-width: 0;
    -fx-pref-width: 600px;
    -fx-min-width: 600px;
    -fx-min-height: 1080px;
}
.secondPanel{
    -fx-pref-width: 1320px;
    -fx-min-width: 1000px;
    -fx-min-height: 1080px;
}

/* Buttons CSS */
.Nbutton{
    -fx-background-color: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)!important;
    -fx-text-fill: white!important;
}

/* Game layout */
.root{
    -fx-alignment: center;
}

.helpPanel{
    -fx-background-color: #efefef;
}

.grid{
    -fx-label-padding: 10 10 10 10;
    -fx-alignment: center;
}
.grid-btn-beginner{
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-font-weight: bold;
    -fx-font-size: 10;
    -fx-background-radius: 0;
    -fx-border-color: rgba(0, 0, 0, 0.15);
    -fx-border-width: 0.5px;
}

.grid-btn-intermediate{
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-font-weight: bold;
    -fx-font-size: 10;
    -fx-background-radius: 0;
    -fx-border-color: rgba(0, 0, 0, 0.15);
    -fx-border-width: 0.5px;
}

.grid-btn-expert{
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-font-weight: bold;
    -fx-font-size: 10;
    -fx-background-radius: 0;
    -fx-border-color: rgba(0, 0, 0, 0.15);
    -fx-border-width: 0.5px;
}

.zero-btn{
    -fx-background-color:  rgba(153,153,153,0.05);
}
.one-btn{
    -fx-background-color:  rgba(153,153,153,0.05);
    -fx-text-fill: blue;
}
.two-btn{
    -fx-background-color:  rgba(153,153,153,0.05);
    -fx-text-fill: green;
}
.three-btn{
    -fx-background-color:  rgba(153,153,153,0.05);
    -fx-text-fill: red;
}
.four-btn{
    -fx-background-color:  rgba(153,153,153,0.05);
    -fx-text-fill: darkblue;
}
.five-btn{
    -fx-background-color:  rgba(153,153,153,0.05);
    -fx-text-fill: darkred;
}
.six-btn{
    -fx-background-color:  rgba(153,153,153,0.05);
    -fx-text-fill: darkcyan;
}
.seven-btn{
    -fx-background-color:  rgba(153,153,153,0.05);
    -fx-text-fill: black;
}
.eight-btn{
    -fx-background-color:  rgba(153,153,153,0.05);
    -fx-text-fill: gray;
}
.mine-btn{
    -fx-background-color: rgba(255, 0, 0, 0.5);
    -fx-text-fill: black;
}

.easy{
    -fx-background-color: green;
}
.medium{
    -fx-background-color: green;
}
.hard{
    -fx-background-color: green;
}